{% extends 'partials/base.html' %} 
{% load static %}

{% block navbar %}
    {% include 'partials/navbar.html'%}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <!-- Display content for authenticated users -->
    <h2>Welcome, {{ user.username }}</h2>
    <div class="container mt-4">
        <h1>New Films</h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
            {% for film in films %}
                <div class="col">
                    <div class="card">
                        <p>{{ film.poster.explanation_img }}</p>
                        <p>{{ film.poster.image }}</p>
                        <img style='width: 150px; height: 200px; margin-bottom: 10px;' src='{{ film.poster.image.url }}' alt='{{ poster.explanation_img }}'>
                        <div class="card-body">
                            <h2 class="card-title">{{ film.title }}</h2>
                            <p class="card-text"><span style="font-weight: bold;">Director:</span>
                                {% for director in film.director.all %}
                                    {{ director }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text"><span style="font-weight: bold;">Category:</span>
                                {% for category in film.category.all %}
                                    {{ category }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}</p>
                            <p class="card-text"><span style="font-weight: bold;">Release Date:</span> {{ film.release_date|date:"F j, Y" }}</p>
                        </div>

                        <div class="card-footer bg-transparent">
                            <a href="{% url 'addReview' film.id %}" class="btn btn-primary">Add Review</a>
                            <hr>
                            {% for review in film.reviews.all %}
                                <p style="color: grey"><u>Review #{{ review.id }}</u> {{ review.review_text }}</p>
                                <hr>
                            {% empty %}
                                <p>There is no reviews yet</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <!-- Display content for non-authenticated users -->
    <h2>Welcome to the Film Project!</h2>
    <p>Please log in or sign up to access the full features of our website.</p>
 
    
    
{% endif %}
{% endblock %}




