<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="good_to_know.css">
</head>
<body>
    <section>
        <div class="image-container">
            <img src="images/oopm-exterior-drone-evening-sea-view-bw.jpg" alt="Image" style="height: 90vh; width: 100%;">
          </div>
    
        <div class="upper-section">
            <div class="column-title">
              <h2>Pure Air</h2>
            </div>
            <div class="column-text">
              <p>
                We kindly ask guests to respect our non-smoking policy in all rooms and public indoor areas. We reserve the right to charge a cleaning fee of CHF 250 if guests smoke in the room.</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Pets</h2>
            </div>
            <div class="column-text">
              <p>
                At Torquay Boutique, we understand that your four-legged friend is an important part of your family. That's why we happily welcome pets at our hotel, ensuring that both you and your furry companion have a memorable stay.To cover the additional cleaning and maintenance associated with accommodating pets, a charge of CHF 30 per night (excluding food) will be applied. This fee ensures that we can maintain the utmost cleanliness and comfort for both you and your beloved pet.
                We look forward to hosting you and your furry friend at Torquay Boutique, where your pet is treated with the same care and attention as any other guest.</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Garage Space</h2>
            </div>
            <div class="column-text">
              <p>
                We understand the importance of convenience and ensuring that your car is well taken care of during your stay at Torquay Boutique. To provide you with peace of mind and hassle-free parking, we offer a professional valet parking service.</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Payment Methods</h2>
            </div>
            <div class="column-text">
              <p>
                Cash: CHF, EUR CC: MasterCard, Visa, Amexco, Diners, Discover, UnionPay, JCB, Maestro, Postcard, Vpay</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Cancellations</h2>
            </div>
            <div class="column-text">
              <p>
                Free of charge up to 48 hours before arrival. For cancellations after that or no-shows, 100% of the booking value will be charged as cancellation fee. During the Christmas / New Year's period, cancellations are free of charge up to 14 days before arrival.</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Children</h2>
            </div>
            <div class="column-text">
              <p>
                Up to two children until age 6 sleep in their parents’ room free of charge. Until age 12 we charge CHF 29 without and CHF 150 with an additional bed per child per night. For a child above age 13 with two adults we charge CHF 150 per night. For a child above age 13 with one adult we charge the regular rate for two adults. For two children without adults we charge the price for one adult and the surcharge for the second child according to their age. These prices include breakfast for the children. Extra beds are provided by the hotel from Spa Deluxe category or higher.y</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Children - Meals</h2>
            </div>
            <div class="column-text">
              <p>
                Children until age 12 can choose from our kids menu.</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Children - Admission</h2>
            </div>
            <div class="column-text">
              <p>
                Please note that children of hotel guests under 3 years are not admitted to the thermal baths.</p>
            </div>
        </div>

        <div class="upper-section">
            <div class="column-title">
              <h2>Arrival & Departure</h2>
            </div>
            <div class="column-text">
              <p>
                Your room is available from 3 pm on the day you arrive. If you arrive earlier, you can use the thermal baths from 11 am on your arrival day. Please vacate your room by 11.30 am on the day of departure; you may enjoy the thermal baths for the remainder of this day if accessed before 12 pm.</p>
            </div>
        </div>








        
        

    </section>
    
</body>
</html>