<!DOCTYPE html>
<html>
<head>
    <title>Available Room Options</title>
</head>
<body>
    <h1>Available Room Options</h1>
    <p> Check-in date: {{check_in_date}}</p>
    <p> Check-out  date: {{check_out_date}}</p>
    <p> Num of guests: {{num_guests}}</p>
    {% if available_rooms %}
        <ul>
            {% for room in available_rooms %}
                <li>
                    {{ room.name }}
                    <button onclick="redirectToRoom()">View Details</button>
                    <button onclick="bookNow('{{ room.name}}')">Book Now</button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No available room options at the moment.</p>
    {% endif %}

    <script>
        function redirectToRoom() {
            window.location.href = '../rooms';
        }

        function bookNow(roomName) {
            var checkInDate = '{{ check_in_date }}'; 
            var checkOutDate = '{{ check_out_date }}';  
            var numGuests = '{{ num_guests }}';  

            var url = '../reservation?room=' + roomName + '&check_in_date=' + checkInDate + '&check_out_date=' + checkOutDate + '&num_guests=' + numGuests;
            window.location.href = url;
        }
    </script>
</body>
</html>

