{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Available Room Options</title>
    <link rel="stylesheet" href="{% static 'css/vacancies.css' %}">
</head>
<body>
    <h1>Available Room Options</h1>
    <p>Check-in date: {{ check_in_date }}</p>
    <p>Check-out date: {{ check_out_date }}</p>
    <p>Num of adults: {{ num_adults }}</p>
    <p>Num of kids: {{ num_kids }}</p>
    <p>Ages of kids: {{kid_ages}}</p>

    <div>
        <h3>Select a room:</h3>
        <div>
            <h4>Sort By:</h4>
            <select id="sortDropdown" onchange="sortRooms()">
                <option value="">-- Select --</option>
                <option value="lowest_price">Lowest Price</option>
                <option value="highest_price">Highest Price</option>
                <option value="recommended">Recommended</option>
            </select>
        </div>

        {% if available_rooms %}
        <ul id="vacanciesList">
            {% for room in available_rooms %}
                <li data-price="{{ room.price_per_night }}" data-capacity="{{ room.capacity }}" data-category="{{ room.category }}">
                    {{ room.name }}
                    <button onclick="redirectToRoom()">View Details</button>
                    <button onclick="bookNow('{{ room.name }}')">Book Now</button>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No available room options at the moment.</p>
        {% endif %}

            <!-- Login/Register Popup -->
        <div id="loginRegisterPopup" class="wrapper">
            <div   div class = "form-box login">
                <h2>Login</h2>
                <form action="#">
                    <div class = "input-box">
                        <span class="icon"><i class="fa-solid fa-user" style="color: #828282;"></i></i></span>
                        <input type="text" required>
                        <label>User Name</label>
                    </div>
                    <div class = "input-box">
                        <span class="icon"><i class="fa-solid fa-lock" style="color: #828282;"></i></span>
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <div class = "remember-forgot">
                        <label><input type="checkbox">Remember me</label>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>Dont have an account?<a href="#">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <script>

        // Retrieve values from Django template context
        var checkInDate = '{{ check_in_date }}'; 
        var checkOutDate = '{{ check_out_date }}';  
        var numAdults = '{{ num_adults }}';
        var numKids = '{{ num_kids }}'; 
        var agesOfKids = [];  
        for (var i = 0; i < numKids; i++) {
                var kidAge = document.getElementById('kid_age_' + (i + 1)).value;
                agesOfKids.push(kidAge);
            }


        function redirectToRoom() {
            window.location.href = '../rooms';
        }
    
        function bookNow(roomName) {
            var url = '../reservation?room=' + roomName + '&check_in_date=' + checkInDate + '&check_out_date=' + checkOutDate + '&num_adults=' + numAdults + '&num_kids='+ numKids;

            // Add ages of kids to URL as query parameters
            for (var i = 0; i < agesOfKids.length; i++) {
                url += '&kid_age_' + (i + 1) + '=' + agesOfKids[i];
            }

            window.location.href = url;
        }

        function sortRooms() {
            var selectedOption = document.getElementById('sortDropdown').value;
            var vacanciesList = document.getElementById('vacanciesList');
            var vacancies = Array.from(vacanciesList.children);

            if (selectedOption === 'lowest_price') {
                vacancies.sort(function(a, b) {
                var aPrice = parseInt(a.getAttribute('data-price'));
                var bPrice = parseInt(b.getAttribute('data-price'));
                return aPrice - bPrice;
            });
        } else if (selectedOption === 'highest_price') {
            vacancies.sort(function(a, b) {
                var aPrice = parseInt(a.getAttribute('data-price'));
                var bPrice = parseInt(b.getAttribute('data-price'));
                return bPrice - aPrice;
            });
        // } else if (selectedOption === 'recommended') {
        //     vacancies.sort(function(a, b) {
        //         var aCapacity = parseInt(a.getAttribute('data-capacity'));
        //         var bCapacity = parseInt(b.getAttribute('data-capacity'));

        //         if (aCapacity >= (numAdults + numKids) && bCapacity < (numAdults + numKids)) {
        //             return -1;
        //         } else if (aCapacity < (numAdults + numKids) && bCapacity >= (numAdults + numKids)) {
        //             return 1;
        //         } else {
        //             // Sort by room capacity as the secondary criteria
        //             return aCapacity - bCapacity;
        //         }
        //     });
        }

        vacancies.forEach(function(vacancy) {
            vacanciesList.removeChild(vacancy);
        });

        vacancies.forEach(function(vacancy) {
            vacanciesList.appendChild(vacancy);
        });
    }    
    </script>

<script src="https://kit.fontawesome.com/c7bb54256c.js" crossorigin="anonymous"></script>
</body>
</html>

