<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Vehicle Details</h2>
    <p><strong>Vehicle type:</strong> {{ vehicle.vehicle_type }}</p>
    <p><strong>Date created:</strong> {{ vehicle.date_created}}</p>
    <p><strong>Real cost:</strong> {{ vehicle.real_cost }}</p>
    <p><strong>Vehicle size:</strong> {{ vehicle.vehicle_size }}</p>
</body>
</html>