.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 2px solid black;
}

.box1, .box2, .box3{
    height: 20px;
}

.box1{
    background-color: orange;
}

.box2{
    background-color: yellow;
}

.box3{
    background-color: brown;
}