body {
    margin: 0;
    padding: 0;
    background: #eee;
  }
  
  .todo-app{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px;
  }

  .blue-text{
    color: #2096f3;
  }
  
  .item{
    background: #fff;
  }
  
  .collection-item span:hover{
    cursor: pointer;
    text-decoration: line-through;
  }
  
  form{
    margin: 20px 10px;
  }
  