{% extends "partials/base.html" %}

{% block title %}Add Film{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}

    <div class="container mt-4">
        <h1>Add Film</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
          
            <div class="form-group">
              <label for="{{ form.poster_image.id_for_label }}"></label>
            </div>
            <button type="submit">Add Film</button>
        </form>
    </div>
{% endblock %}