{% extends "partials/base.html" %}

{% block title %}Add Film{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}

    <div class="container mt-4">
        <h1>Add Film</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            {% for producer_form in formset %}
                {{ producer_form.as_p }}
            {% endfor %}
            
            {{ formset.management_form }}
            
            <button type="submit">Submit</button>
        </form>
        
    </div>
{% endblock %}

